<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>HOME</title>
</head>
<body>

{{if .Username}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">&nbsp; GO Room Chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
</nav>
<br>
<div class="card" style="width: 50rem;">
    <div class="card-header">
      <h3>Actions</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Account</h5>
      <a href="/logout" class="btn btn-danger">Logout</a>
      <a href="/delete" class="btn btn-danger">Delete</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">Rooms</h5>
        <a href="/rooms/new" class="btn btn-primary">Create</a>
        <a href="/rooms/join" class="btn btn-primary">Join</a>
        <a href="/rooms/delete" class="btn btn-danger">Delete</a>
    </div>
</div>

<div id="rooms">

</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        roomsDiv = document.getElementById("rooms");
        ws = new WebSocket("ws://localhost:8080/index/ws");

        ws.onopen = () => {
            console.log("Connected to server")
        }

        ws.onmessage = (m) => {
            data = JSON.parse(m.data);

            rooms.innerHTML += `
            <hr>
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">New Room: ${data.data.roomName}</h5>
                    <p class="card-text">New room created by ${data.data.authorName}</p>
                    <a href="/rooms/${data.data.roomId}" class="btn btn-primary">Join!</a>
                </div>
            </div>
            `
        }
    })
    
</script>
{{else}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">&nbsp; GO Room Chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
</nav>
<br>
<div class="card" style="width: 50rem;">
    <div class="card-header">
      <h3>Actions</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Account</h5>
      <a href="/login" class="btn btn-primary">Login</a>
      <a href="/signup" class="btn btn-primary">Signup</a>
    </div>
    <div class="card-body">
        <h5 class="card-title text-muted">Rooms</h5>
        <a href="" class="btn btn-secondary">Create</a>
        <a href="" class="btn btn-secondary">Join</a>
        <a href="" class="btn btn-secondary">Delete</a>
    </div>
</div>
{{end}}

</body>
</html>