<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<body>

{{if .Username}}
<h1>Hello {{.Username}}!</h1>
<h3><a href="/logout">Logout?</a></h3>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        ws = new WebSocket("ws://localhost:8080/index/ws");

        ws.onopen = () => {
            console.log("Connected to server")
        }

        ws.onmessage = (m) => {
            console.log(m)
        }
    })
    
</script>
{{else}}
<h1>You arent logged in!</h1>
<h3><a href="/signup">Signup?</a>, <a href="/login">Login?</a> </h3>
{{end}}

</body>
</html>